:host {
  overflow-y: auto;
  text-size-adjust: none;
  --cg-title-space: 32px;
}

.yp-homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background: var(--yp-top-background);*/
  color: #f5f9fc;
  position: relative;
}

.yp-homepage-header__backgroud {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  /*filter: contrast(170%) brightness(1500%) invert(100%);
  background: linear-gradient(83deg, rgba(206,72,171,1), rgba(22,0,47,0.62)), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.44' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(420%) brightness(700%);
  background: linear-gradient(69deg, rgba(0,50,78,0.71), rgba(199,6,150,0.5)), url("data:image/svg+xml,%3Csvg viewBox='0 0 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.83' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(430%) brightness(600%);
  background: linear-gradient(47deg, rgba(17,0,125,0.41), rgba(45,118,158,0.49)), url("data:image/svg+xml,%3Csvg viewBox='0 0 208 208' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.39' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(28deg, rgba(0,0,255,0.48), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.32' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(28deg, rgba(0,0,255,0.48), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.32' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(28deg, rgba(0,0,255,0.48), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.03' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(28deg, rgba(0,0,255,0.48), rgba(0,1,70,0.46)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.03' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(90deg, rgba(0,0,255,0.48), rgba(0,34,255,0.37)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.03' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*filter: contrast(1000%) brightness(1500%);
  background: linear-gradient(90deg, rgba(0,0,255,0.48), rgba(63,0,255,0.37)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.03' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  filter: contrast(1000%) brightness(1500%);
  filter: contrast(297%) brightness(461%);
  /*background: linear-gradient(90deg, rgba(0,0,255,0.48), rgba(63,0,255,0.37)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.72' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*background: linear-gradient(90deg, rgba(0,0,255,0.48), rgba(25,0,255,0.37)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.72' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/
  /*--cg-color-1: rgb(0 68 116 / 63%);
  --cg-color-2: rgb(68 1 78 / 61%);*/
  /*--cg-color-1: rgb(4 40 65 / 63%);
  --cg-color-2: rgb(0 34 73 / 61%);*/
  --cg-color-1: rgb(81 0 124 / 63%);
  --cg-color-2: rgb(13 78 166 / 61%);
  background: linear-gradient(90deg, var(--cg-color-1), var(--cg-color-2)), url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.72' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /*background: linear-gradient(90deg, var(--cg-color-1), var(--cg-color-2)), url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cfilter%20id%3D%27noiseFilter%27%3E%0A%20%20%20%20%3CfeTurbulence%20type%3D%27fractalNoise%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20baseFrequency%3D%271.44%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20numOctaves%3D%276%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stitchTiles%3D%27stitch%27%20%2F%3E%0A%20%20%3C%2Ffilter%3E%0A%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url%28%23noiseFilter%29%20contrast%28297%25%29%20brightness%28461%25%29%27%20%2F%3E%0A%3C%2Fsvg%3E");*/
}

.yp-homepage-title {
  font-family: "Kavoon";
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cfilter%20id%3D%27noiseFilter%27%3E%0A%20%20%20%20%3CfeTurbulence%20type%3D%27fractalNoise%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20baseFrequency%3D%271.44%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20numOctaves%3D%276%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stitchTiles%3D%27stitch%27%20%2F%3E%0A%20%20%3C%2Ffilter%3E%0A%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20fill%3D%22white%22%20%20%2F%3E%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url%28%23noiseFilter%29%20contrast%28297%25%29%20brightness%28461%25%29%27%20%2F%3E%0A%3C%2Fsvg%3E");
  color: transparent;
  -webkit-background-clip: text;
  margin-top: var(--cg-title-space);
}

.yp-homepage-definition {
  font-size: 22px;
  line-height: 1em;
  margin: 0;
  text-align: center;
  font-family: 'Bad Script';
  font-family: var(--cg-font-family);
  color: #fcbdff;
  color: #ffffffbf;
  /*background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cfilter%20id%3D%27noiseFilter%27%3E%0A%20%20%20%20%3CfeTurbulence%20type%3D%27fractalNoise%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20baseFrequency%3D%271.44%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20numOctaves%3D%276%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stitchTiles%3D%27stitch%27%20%2F%3E%0A%20%20%3C%2Ffilter%3E%0A%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url%28%23noiseFilter%29%20contrast%28297%25%29%20brightness%28461%25%29%27%20%2F%3E%0A%3C%2Fsvg%3E");
  color: transparent;
  -webkit-background-clip: text;*/
}

.yp-homepage-section {
  padding-bottom: 4em;
  padding-top: 16px;
  flex: 1;
  color: rgba(0, 0, 0, 0.90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yp-homepage-section__content {
  max-width: 787px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

.cg-list {
  color: rgba(0, 0, 0, 1);
  padding-inline-start: 16px;
}

.yp-homepage-capabily-title {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.cg-question {
  display: block;
  font-size: 32px;
  line-height: 1.3em;
  color: rgb(37 37 37);
  font-weight: bold;
}

.yp-homepage-capabily-title {
  margin: 0.7em 0 0 0;
}

.yp-homepage-section__content,
.cg-question {
  margin: 2em 0 0 0;
}

.yp-homepage-capabily-description {
  color: rgba(0, 0, 0, 0.60);
}

.yp-homepage-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--cg-title-space);
  /*--cg-font-family: 'Abril Fatface';
  --cg-font-family: 'Alfa Slab One';
  --cg-font-family: 'Fredoka One';
  --cg-font-family: 'Kaushan Script';
  --cg-font-family: 'Sigmar One';
  --cg-font-family: 'Changa One';
  --cg-font-family: 'Lilita One';
  --cg-font-family: 'Ultra';
  --cg-font-family: 'Paytone One';
  --cg-font-family: 'Abril Fatface';
  --cg-font-family: 'Carter One';
  --cg-font-family: 'Luckiest Guy';
  --cg-font-family: 'Candal';
  --cg-font-family: 'Fugaz One';*/
  --cg-font-family: 'Fredoka One';
}

.cg-advice {
  --cg-stores-space: calc(var(--cg-title-space) * 0.75);
  margin: var(--cg-stores-space);
}

.cg-advice__text {
  margin: calc(var(--cg-title-space) - var(--cg-stores-space));
  font-size: 32px;
  text-align: center;
  font-family: var(--cg-font-family);
}

.yp-homepage-stores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.yp-homepage-store {
  margin: calc(var(--cg-title-space) - var(--cg-stores-space));
  min-width: 150px;
  color: #030b71;
  background: linear-gradient(90deg, #ffffff 0%, #efefff 50%, #94a1ff) no-repeat;
  background-position-x: right;
  -ms-background-size: 200%;
  background-size: 200%;
  transition: all 0.5s;
}

.yp-homepage-store:hover {
  color: #000000;
  background-position-x: left;
}

@media screen and (min-width:600px) {
  .yp-homepage-title {
    font-size: min(7vw, 64px);
  }
}


.cg-embedded {
  --cr-embedded-width: min(100vw - 32px, 770px);
  width: var(--cr-embedded-width);
  height: calc(var(--cr-embedded-width) * 315 / 560);
}
