
<header class="yp-homepage-header yp-content-section">
  <h1 class="yp-homepage-title">
    Channel groups and rating
  </h1>
  <div class="yp-homepage-header-info">
    <h2 class="yp-homepage-definition">
      Browser extension for YouTube users
    </h2>
    <div class="yp-homepage-stores">
      <!--<a mat-raised-button
         href="https://microsoftedge.microsoft.com/addons/detail/greeked-and-blurred/jphkmcbolhaofalbmjcbgmgldkgdabhc"
         target="_blank"
         rel="noreferrer"
         class="yp-homepage-store"
         title="Chrome Web Store">Edge Add-ons</a>
      <a mat-raised-button
         href="https://chrome.google.com/webstore/detail/greeked-and-blurred/igcgkjagbnfhjokmklbenkkfgmfalino"
         target="_blank"
         rel="noreferrer"
         class="yp-homepage-store"
         title="Chrome Web Store">Chrome Web Store</a>-->
    </div>
  </div>
</header>
<div class="yp-homepage-section yp-content-section">
  <section>
    <ol class="yp-homepage-section__content">
      <li>
        <h4 class="yp-homepage-capabily-title">The application filters videos based on group and YouTube channel ratings.</h4>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Allows you to create groups for channels.</h4>
        <span class="yp-homepage-capabily-description">
          Created groups can be nested in other groups. The name of the groups is visible under the video, so each time you watch the video, you can know in advance which group the channel belongs to. Groups are also used to filter the videos of your subscriptions, but you can use groups as a clue about the topic of the channel, even if you are not subscribed to the channel. Group information is not shared on YouTube.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Allows you to specify a personal rating for channels.</h4>
        <span class="yp-homepage-capabily-description">
          The rating is displayed below the video, so you can immediately understand whether the video is worth your attention or not. The rating is also used to filter the videos of your subscriptions, but you can use the rating as additional information about the channel, even if you are not subscribed to the channel. Rating information is not transmitted to YouTube and is stored on your Google Drive.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Binds channels to groups.</h4>
        <span class="yp-homepage-capabily-description">
          You can add channels to a group just so you don't lose a channel that you don't want to subscribe to. You can find all the channels that are linked to the group in the form of a list. If you have subscribed to the channel, then you can filter videos based on this group.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Automatically syncs with Google Drive.</h4>
        <span class="yp-homepage-capabily-description">
          You can use the created groups and ratings on different devices, for this you need to use the same Google account. The application uses Google Drive, you yourself control the data that the application uses.
        </span>
      </li>
    </ol>
  </section>
</div>
