
<header class="yp-homepage-header yp-content-section">
  <h1 class="yp-homepage-title">
    Channel groups and rating
  </h1>
  <div class="yp-homepage-header-info">
    <div class="yp-homepage-definition">
      For YouTube users
    </div>
    <div class="cg-advice">
      <div class="cg-advice__text">Try it for free</div>
      <div class="yp-homepage-stores">
        <a mat-flat-button
           href="https://chrome.google.com/webstore/detail/channel-groups-and-rating/hopcbmeplpekjenhhkiceeeaeoeoaona"
           target="_blank"
           class="yp-homepage-store"
           rel="noopener"
           title="Chrome extension">Chrome extension</a>
        <a mat-raised-button
           href="https://microsoftedge.microsoft.com/addons/detail/channel-groups-and-rating/abcinaijmbdjepphjkbinogpjdiagedp"
           target="_blank"
           class="yp-homepage-store"
           rel="noopener"
           title="Edge Add-on">Edge Add-on</a>
        <a mat-flat-button
           href="https://addons.mozilla.org/en-US/firefox/addon/channel-groups-and-rating/"
           target="_blank"
           class="yp-homepage-store"
           rel="noopener"
           title="Firefox add-on">Firefox add-on</a>
        <button mat-flat-button
                class="yp-homepage-store"
                (click)="help()"
                title="How to use on Android">
          Mobile devices
        </button>
      </div>
    </div>
  </div>
</header>
<div class="yp-homepage-section yp-content-section">
  <button mat-icon-button
          aria-label="Share"
          title="share"
          (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <section>
    <ol class="yp-homepage-section__content cg-list">
      <li>
        <h4 class="yp-homepage-capabily-title">Filters videos by rating and groups of YouTube subscriptions.</h4>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Groups YouTube comments by channel.</h4>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Groups YouTube channels.</h4>
        <span class="yp-homepage-capabily-description">
          Created groups can be nested in other groups. The name of the groups is visible under the video, so each time you watch the video, you can know in advance which group the channel belongs to. Groups are also used when filtering the videos of your subscriptions, but you can use groups as a hint about the topic of the channel, even if you are not subscribed to the channel. Group information is not shared on YouTube.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Manages subscriptions.</h4>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Classifies and categorizes clips.</h4>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title"> Allows you to specify a personal rating for the channels.</h4>
        <span class="yp-homepage-capabily-description">
          The rating is displayed below the video, so you can immediately understand if the video is worth your attention or not. The rating is also used when filtering the videos of your subscriptions, but you can use the rating as additional information about the channel, even if you are not subscribed to the channel. Rating information is not transmitted to YouTube, and is stored on your Google Drive.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Binds channels to groups.</h4>
        <span class="yp-homepage-capabily-description">
          You can add channels to a group just so you don't lose a channel that you don't want to subscribe to. You can find all the channels that are linked to the group in the form of a list. If you have subscribed to the channel, then you can filter videos based on this group.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Automatically syncs with Google Drive.</h4>
        <span class="yp-homepage-capabily-description">
          You can use the created groups and ratings on different devices, for this you need to use the same Google account. The application uses Google Drive, you yourself control the data that the application uses.
        </span>
      </li>
    </ol>
    <div class="yp-homepage-section__content">

      <div class="cg-question">
        Who is this extension for?
      </div>
      <ol class="cg-list">
        <li>
          For someone who is used to starting the day with news, but does not understand how to do it on YouTube;
        </li>
        <li>
          For someone who loves a lot of quality content, but is afraid to subscribe to hundreds of channels;
        </li>
        <li>
          For those who want to mark bad channels as fakes and propaganda, so that they never waste time on these channels;
        </li>
        <li>
          For those who simply do not want to subscribe to the channels, but want to save them so that later they can find them;
        </li>
        <li>
          And also for those who want to view the video in the established priority, determined by the personal rating of the channels.
        </li>

      </ol>

      <div class="cg-question">
        How to start?
      </div>
      <p>
        You need to install this extension and log in using the extension button next to the address bar. Next, you need to click the Show Panel button on your subscriptions, which will display a panel with instructions to help you rate channels and add your subscriptions to groups. If you don't want to follow these instructions, you can add to the group from the YouTube video watch page or from the channel home page.
      </p>
      <div class="cg-question">
        Have you ever subscribed to a channel just to keep the link?
      </div>
      <p>
        Of course, at the same time you start receiving videos from this channel in YouTube subscriptions. But what if you don't want to receive any videos. You can copy the link to the channel instead of subscribing to it, but then you need to save this link somewhere. In such cases, it was better to add the YouTube channel to the group. Using this extension without subscribing to a channel, you can add it to the group, and then you can find the channel by the link. The changes will be saved to Google Drive, so you can find this link from other devices.
      </p>
      <p>
        As a rule, if you subscribe to at least one news channel, then more than a dozen new videos appear in your subscriptions every day. This can make it much more difficult for you to find a new video on a different topic. But it would be strange if a person liked to hear news from one channel. For more objective information, you need to subscribe to several news channels. To select the best channel, you must have at least two channels.
      </p>
      <div class="cg-question">
        What's stopping you from subscribing to all news channels?
      </div>
      <p>
        Obviously, the main problem is the inability to remove all news videos from subscriptions if the news is no longer needed. This extension allows you to group YouTube subscriptions using a complex hierarchy. for example, all news channels, and there can be several dozen of them, can be added to the news group. If necessary, you can simply exclude this group in the filtering panel, as a result of which you will be able to see videos from other channels.
      </p>
      <iframe class="cg-embedded" src="https://www.youtube.com/embed/Qa-esNH6bBU?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        High-quality content is often very difficult to produce, which is why YouTube bloggers rarely release such content. For example, science videos may come out less than once a month. It's okay to subscribe to a large number of these channels if you love science videos. Sometimes there may be several hundreds of such channels with high-quality content in subscriptions, and the frequency of video output from hundreds of such channels will often be several times less than that of one news channel.
      </p>
      <div class="cg-question">
        What's the problem if you want to get high quality YouTube content?
      </div>
      <p>
        The problem is that unlike the news example, in this case you need to filter, use and easily find a large number of channels. YouTube channel grouping is useful for creating a hierarchy of channel groups that will be used to search by category, topic, content quality, and more. This extension allows you to add channels to groups that are nested in other groups.
      </p>
      <p>
        Often we subscribe to channels that we just want to leave as a note, that they are not bad or that you trust this channel and it produces high-quality content, but often the exact opposite situation happens. Sometimes you see videos not in your subscriptions, but among those offered by YouTube or a search engine. And you understand that you do not want to watch this channel anymore and are not going to continue to waste your time on any video from it.
      </p>
      <div class="cg-question">
        What YouTube features allow you to stop wasting time on obviously bad content?
      </div>
      <p>
        There is an opportunity to like the video on YouTube, after which you can find this video in a special playlist. If you put a dislike, then you will not see the playlist for the videos you disliked, but you can see the dislike for this video.
        YouTube also has the ability to create playlists, so you can basically add bad videos to playlists.
      </p>
      <p>
        In addition, YouTube has the ability to subscribe to a channel, and you will receive videos from this channel in subscriptions.
      </p>
      <div class="cg-question">
        How can these YouTube features help us to avoid watching videos from bad channels?
      </div>
      <p>
        We add only videos to playlists, if new videos from this channel come out, this will not help us much in determining that the channel is not suitable for us, since a new video has not been added to the playlist. But, of course, we can understand that there is no need to watch a video that has already been added to the playlist or which has been disliked.
      </p>
      <p>
        Subscribing to a channel gives us the opportunity to create a label about the channel, but the label does not give us enough information. If we use the fact of subscription as information that we do not like the channel, then we will lose the opportunity to use subscriptions for their intended purpose and everything that we get in the subscriptions section will be from those channels that we do not like.
      </p>
      <p>
        It can be concluded that it seems that it is simply impossible to mark channels as bad.
      </p>
      <div class="cg-question">
        How to mark YouTube channels as bad?
      </div>
      <p>
        In order for this opportunity to appear, you need to use this extension. The extension allows channels that you did not like to place in a group. Information about such a group will be visible on the video viewing page, so once you mark this channel as undesirable, you can refuse to view it by reading the name of the group, even if you accidentally get to it on the recommendation of YouTube.
      </p>


      <div class="cg-question">
        Since this feature is so necessary, why didn't YouTube implement it?
      </div>
      <p>
        In the past decade, YouTube has made a similar feature and now you can even find some mentions of it. But this feature has been removed from YouTube.
      </p>

      <div class="cg-question">
        How can you save time watching videos?
      </div>
      <p>
        While watching videos, you often get enough information to save you time. You should not lose the information you receive. Typically, you need data to predict something. And data is the experience you get as a result of your viewing. At first glance, it may seem that by liking the clip you are doing something useful for yourself because you keep your impressions. But it will not help you much if you want to decide whether to watch a new clip from this channel or not.
      </p>
      <iframe class="cg-embedded" src="https://www.youtube.com/embed/-JXUdTV4tW0?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        In order to find a solution, you need to link your impressions to your YouTube subscription, grouping with other channels. This will allow you to quickly find suitable clips, and will save you time if you figure out which broadcasts are unnecessary for you. This extension allows you to achieve this goal through ranking and channel management.
      </p>
      <p>
        Let me show you an example. Let's say you are already subscribed to a channel that releases many new clips every day, but most of the clips do not interest you. You know that the program you want comes out once a week. You have to get a lot of extra videos six days a week for one show.
      </p>
      <p>
        This extension gives you the ability to hide unnecessary items with one click. All you need is to link the group to the YouTube channel and include it in the filter when you need it.
      </p>
      <div class="cg-question">
        What do you do when you have a lot of elements?
      </div>
      <p>
        If we are talking about a file, then you usually put it in a folder. Let's imagine we have a lot of subscriptions. Have you seen a folder for them somewhere? In such cases, you need to group YouTube subscriptions to create a hierarchical structure by organizing channels into categories.
      </p>
      <iframe class="cg-embedded" src="https://www.youtube.com/embed/CPuQMmbIfj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        This extension manages subscriptions. It allows you to organize your subscriptions using categories like folders. This feature is very similar to the YouTube collections removed in the last decade. But unlike collections, the data you create is stored on Google Drive, so you manage it. You can make a backup or sync with your computer just like a regular file on a Google drive. YouTube can neither delete nor view this file. You control this data yourself. If you want, you can even see what's inside the file or delete it completely.
      </p>
      <p>In addition to groups, this application also has the ability to organize subscriptions using a rating.</p>


      <div class="cg-question">
        Why do we need a rating?
      </div>
      <p>
        With the help of groups, we can already filter subscriptions and give them meaning. But the information about the group when filtering does not provide such possibilities that the indication of a numerical value does.
      </p>
      <p>
        If you are filtering a YouTube channel by group, then you simply click on the corresponding checkbox in the filter, and if you need a different category, then you are looking for another checkbox, it may be at the end of the list or at the beginning, in other words, far from the previous one. Then you try to find the third group and again waste your time.
      </p>
      <p>
        In the case of ranking, you change the minimum value of the rating in one place with the button, and you do not need to search for the group checkbox.
      </p>
      <p>
        For example, you can give a higher rating to channels whose shows you always want to see, and a lower rating to those you can skip. Depending on how much time you have, you can simply change the minimum value with one button to see the programs for which you currently have time. If you have more time, then you can use the same button, which changes the minimum value.
      </p>
      <iframe class="cg-embedded" src="https://www.youtube.com/embed/3kDe3oHGPa8?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        Grouping is useful for giving meaning to channels and creating a hierarchy, and ranking is useful to indicate your personal priority.
      </p>

      <p>
        This application has the ability to save links to comments.
      </p>

      <div class="cg-question">
        Why do we need comments?
      </div>
      <p>
        Let's say you watched the video and realized that there was something in it that you liked. You have liked or added a video to the playlist so as not to lose it. You may even have used this extension and used YouTube channel grouping, which gave you an idea of what it is about.
      </p>
      <p>
        One day you will start looking at everything that you once liked and trying to understand what exactly interested you in the video. Let's say you are interested in one minute of this video. And you are trying to find it among the entire video, and it is quite long. It turns out that you are wasting time looking for what you have already found before. How can this be prevented in the future? On YouTube, you can comment on videos using timecodes for specific moments. Therefore, if you commented the first time you saw a given moment and saved a link to it, you would not waste time searching again.
      </p>
      <div class="cg-question">
        Why do we need to link comments to a channel?
      </div>
      <p>
        Now let's pretend that you recognize something in the video that characterizes the channel as a whole. For example, you saw that the video contains inappropriate behavior. In this case, you can of course finish watching and hope that YouTube will not offer you videos from this channel in the future.
      </p>
      <p>
        Let's say you were out of luck and you again received a video from this channel, but you liked it. To save your time, you need to give up some of the channels and you are trying to figure out whether you need this channel.
      </p>
      <div class="cg-question">
        How do you know if a channel is really good or bad?
      </div>
      <p>
        It is necessary to leave written notes about the moments you liked and did not like.
      </p>
      <iframe class="cg-embedded" src="https://www.youtube.com/embed/BERqOREHOks?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        This extension allows you to bind comments to a channel. As a result, you will have a kind of editable channel dossier, consisting of the comments that you have chosen. You don't have to write these comments yourself.
      </p>

      <!--<div class="cg-level-1">
        User interface description
      </div>
      <div class="cg-level-2">
        YouTube subscription section
      </div>
      <div class="cg-level-3">
        Embedded information
      </div>
      In the subscription section, an information panel has been implemented for each video section.
      The panel displays counters, a filter, and a button to display the panel.
      Counters include information:
      1. About the selected channels;
      2. About found selected channels in all videos on YouTube subscriptions page;
      The filter information displays the min rating and list of group names.
      To see the panel, you must click on the show panel button.
      <div class="cg-level-3">
        Panel
      </div>
      On the YouTube subscriptions page, the panel contains a filter section and provides the ability to filter videos in YouTube subscriptions. Also, if there are no created groups, the panel contains instructions for adding channels to the group.
      <div class="cg-level-4">
        Filter
      </div>
      The filter consists of a tree of groups and a field with a minimum rating. All videos that are within these groups or whose rating is not less than the selected value for the minimum rating can be Selected.

      A selection in the parent tree group results in a selection of all children. This behavior is applied only for filtering, and when editing in other parts of the system, this does not happen.
      The Selected button is located on the same panel and opens the modal window of the selected channels.
      <div class="cg-level-4">
        Modal window of selected channels
      </div>
      The modal window of the selected channels contains a table with the channels selected in the filter.
      Table fields
      1. Channel name. Includes links to channels.
      2. Groups. Number of groups.
      3. Rating.
      4. Found. Displays the fact that at least one video from the channel has been detected on the page.

      <div class="cg-level-2">
        YouTube manage section
      </div>

      On the Manage page (managing YouTube channel subscriptions), the panel provides additional bulk editing capabilities using the bulk operations editor.
      <div class="cg-level-3">
        Bulk operations editor
      </div>
      The editor of bulk operations is presented in the form of a button that is responsible for selecting a group, a button for canceling changes and a button for saving changes. The selected group is also displayed in the editor.
      The selected group in the bulk editor provides the ability to add and remove the selected group for the subscription channel. Adding and removing is done in one click in the subscription area of YouTube itself.

      Group selection is carried out using the group selection window.
      The main function of all the changes on the YouTube subscription management page is the bulk editing of groups for subscriptions.
      <div class="cg-level-4">
        Bulk editing
      </div>
      Bulk editing is implemented using the above-described bulk operations editor and buttons embedded on the channel subscriptions page.
      YouTube embedded buttons
      1. Add button. It is hidden if the selected group already contains this channel.
      2. The Added button should remove a channel from the selected group. It is hidden if the channel is not included in the selected group.
      3. Edit button. This button allows you to add and remove a channel from a group, as well as change the rating using the window for editing groups and channel rating.

      <div class="cg-level-3">
        Group and rating editing window
      </div>
      The window for editing groups and ratings can be called upon the video viewing page, on the channel home page, and in the subscription management.
      The window for editing groups and ratings is implemented as a modal window. The content of the modal window can be visually divided into three sections.
      1. Top section. It contains the title, the extended mode switch, and the rating editor.
      2. Middle section. It contains a tree with groups.
      3. Bottom section. This section contains buttons.
      <div class="cg-level-4">
        Rating editor
      </div>
      The rating editor is displayed only in the extended mode. The rating is limited to the interval from 0 to 5 inclusive, with a step of 0.5. A value of zero means no rating.

      Edit groups and rating buttons
      1. Select. Depending on the edit mode, the select button may be hidden or displayed. Confirms group selection and rating. Visible only in extended edit mode.
      2. Edit. Opens the group editor window.
      3. Close.
      <div class="cg-level-4">
        Extended editing mode
      </div>
      This mode makes it possible to change the rating and add several groups, as well as delete a group. In this mode, you need to confirm the selection with a separate action.
      If the mode is not activated, then you can select with one click, but only one group.
      Automatically set if the rating is greater than zero, or if more than one group is selected.
      This mode can be switched using the aforementioned switch in the upper section.
      <div class="cg-level-4">
        Groups editor window
      </div>
      The content of the group editor window can be visually divided into three sections.
      1. Top section. It contains a title, a back button, and a hint.
      2. Middle section. It contains a tree with groups.
      3. Bottom section. This section contains buttons.
      <div class="cg-level-4">
        Groups Editor Window Buttons
      </div>
      1. Accept. Accepts the change and returns to the edit groups and rating window
      2. Back.
      3. Cancel. Cancels the change.
      4. Edit. Opens the group window with the selected group.
      5. Delete. Deletes the selected group with prior confirmation.
      6. Create. Opens the group window with the created group.
      <div class="cg-level-4">
        Group window
      </div>
      The content of the group editor window can be visually divided into three sections.
      1. Top section. It contains a title and a back button.
      2. Middle section. It contains the group name field, the name of the parent group, and a table with a list of channels for this group. Channels in the table can be deleted.
      3. Bottom section. This section contains buttons.
      <div class="cg-level-4">
        Group window buttons
      </div>
      1. Back.
      2. Change parent. Opens the parent group selection window. Self and child-group selection is locked.
      3. Remove parent.-->
    </div>
  </section>

</div>
