:root {
  --yp-app-title-font-family: Kavoon, "Helvetica Neue", sans-serif;
  --yp-top-background: linear-gradient(to right, #6a11cb 500px, #2575fc 1920px);
  --yp-top-background: linear-gradient(90deg,#b414c7 500px,#382184 1920px);
  /*--cg-font-family: Kaushan Script;
  --cg-font-family: Bad Script;
  --cg-font-family: Norican;
  --cg-font-family: Playball;
  --cg-font-family: Forum;
  --cg-font-family: Baloo Tammudu 2;
  --cg-font-family: Overlock;
  --cg-font-family: Cinzel Decorative;
  --cg-font-family: Cookie;
  --cg-font-family: Sevillana;
  --cg-font-family: Kalam;
  --cg-font-family: Averia Serif Libre;
  --cg-font-family: Delius;
  --cg-font-family: Merienda One;
  --cg-font-family: Petit Formal Script;
  --cg-font-family: Mirza;
  --cg-font-family: Averia Libre;
  --cg-font-family: Arima Madurai;
  --cg-font-family: Lemonada;
  --cg-font-family: Sevillana;
  --cg-font-family: Merienda;
  --cg-font-family: Akaya Kanadaka;
  --cg-font-family: Merienda One;
  --cg-font-family: Akaya Kanadaka;
  --cg-font-family: Paprika;*/
}

app-root {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.yp-content-section {
  padding: var(--yp-content-padding);
}

.yp-app-title {
  font-family: var(--yp-app-title-font-family);
  --font-size: 32px;
  font-size: min(var(--font-size), 32px);
  height: 2em;
  line-height: 2em;
  padding: 0 5px;
  margin-left: 60px;
  background-image: linear-gradient( 90deg, white, #9093ff);
  color: transparent;
  -webkit-background-clip: text;
  overflow: hidden;
}


@media screen and (max-width:500px) {
  .yp-app-title {
    margin-left: 8px;
  }
}
